.gamePrompt {
	width: 100%;
	background-color: #ccc;
	border-top: 2px #555 solid;
	padding: 1em;
}

.answerButtons {
	list-style-type: none;
	margin: 15px 0 10px 0;
	width: 100%;
}

.answerButtons li, .bigButton{
	display: inline;
	width: 30%;
	padding: .5em;
	background-color: #fff;
}

.gamePrompt h2 {
	margin-bottom: 15px;
}

.xOut {
	margin-top: -5px;
	float: right;
}